body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 350px;
    max-height: fit-content;
}

/* #input-btn{
    width: 100px;
    background-color: rgb(9, 157, 9);
    border: transparent;
    font-size: 16 px;
    font-weight: bold;
    color: white;
    height: 35px;
    box-shadow: 2px 3px rgb(0, 173, 130);
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

#input-el{
    resize: vertical;
    word-wrap: break-word;
    border: 2px solid rgb(9, 157, 9);
    min-width: 200px;
    max-width: 500px;
    height: 40px;
    font-family: cursive;
    font-size: 25px;
    padding-left: 8px;
}

a{
    color: rgb(36, 121, 0);
    font-size: 24px;
    width: 200px;

}
ul{
    list-style: none;
}
#listEverything{
    padding: 0;
}
li{
    width: 200px;
}
#output{
    color: rgb(0, 137, 7);
    width: 200px;
}
button{
    width: 100px;
    background-color: rgb(9, 157, 9);
    border: transparent;
    font-size: 16 px;
    font-weight: bold;
    color: white;
    height: 35px;
    box-shadow: 2px 3px rgb(0, 173, 130);
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#buttons{
    display: flex;
    gap: 10px;
}
